SECRET_KEY=your_secret_key_here

DEBUG=True

GEMINI_API_KEY=your_gemini_api_key_here

DATABASE_NAME=career_ai

DATABASE_USER=postgres

DATABASE_PASSWORD=password

DATABASE_HOST=localhost

DATABASE_PORT=5432