Django>=5.0

djangorestframework

djangorestframework-simplejwt

psycopg2-binary

python-dotenv

google-generativeai

langgraph

langchain

langchain-google-genai

pdfplumber

PyPDF2

Pillow

gunicorn

whitenoise